{% extends "base_generic.html" %}
{% load static %}

{% block title %}Post Detail{% endblock title %}
{% block content %}

{% if not obj.approved %}
    <h3>The Post Is Under Review</h3>
    {% if obj.user == request.user %}
        <p>Review your post </p>
        <p><a href="{% url 'blog:personal-post-detail' obj.pk %}">Go to your post</a></p>
    {% endif %}

{% else %}


<div class="text-center h1">{{ obj.title }}</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-4">

                {% if obj.user.profile.image %}
                <img src="{{ obj.user.profile.image.url }}"
                     class="figure-img img-fluid rounded-circle"
                     alt="Profile photo" width="40" height="40">

                {% else %}
                <img src="{% static 'img/dummy-prof-img.png' %}"
                     class="figure-img img-fluid rounded-circle"
                     alt="Profile photo" width="40" height="40">

                {% endif %}
                <a href="{% url 'blog:public-profile' obj.user.username %}">{{ obj.user.username }}</a>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <small class="text-muted">Created: {{ obj.created_at|date:"d.m.Y, H:i:s"}}</small>
                </div>
                <div class="row">
                    <small class="text-muted">Last Updated: {{ obj.updated_at|date:"d.m.Y, H:i:s" }}</small >
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <p class="card-text">{{ obj.description }}</p>
    </div>
    {% if is_creator %}
        <button class="btn btn-warning" onclick="{% url 'blog:update-post' obj.pk %}">Update</button>
        <button class="btn btn-danger" onclick="{% url 'blog:delete-post' obj.pk %}">Delete</button>
    {% endif %}
</div>

    <div class="row mb-3 mt-3">
        <div class="col-sm-4">
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <textarea class="from-control" name="text" cols="40" rows="20" required id="id_text"></textarea>
                </div>
                <div class="form-row ">
                    <button class="btn btn-primary" type="submit">ADD COMMENT</button>
                </div>
            </form>
        </div>

        <div class="col-sm-8">
            <h4>Comments ({{ com_count }})</h4>
            {% for comment in page_obj %}
                <div class="card mb-1">
                    <div class="card-header">
                        {% if comment.user %}
                            <p>{{ comment.user.username }} |
                        {% else %}
                            <p>Anonymous user |
                        {% endif %}
                        <small class="text-muted">{{ comment.created_at|date:"d.m.Y, H:i:s" }}</small></p>
                     </div>

                    <div class="card-body">

                        <p>{{ comment.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock content %}